.posts-cards-container {
	display: flex;
	flex-direction: column;
	gap: 35px;

	@media screen and (min-width: 600px) {
		display: grid;
		grid-template: 1fr / repeat(auto-fit, minmax(350px, 1fr));
	}
	@media screen and (min-width: 1000px) {
		grid-template: minmax(200px, auto) / 1fr minmax(100px, 1fr) 1fr;
	}
}

.card.large {
	@media screen and (min-width: 1000px) {
		grid-column: 2 / 3; /* starting from column 2 to 3 */
		grid-row: 1 / span 2; /* Spanning 2 rows starting from row 1 */
	}
}

img {
	aspect-ratio: 16 / 9;
	@media screen and (min-width: 600px) {
		aspect-ratio: 11.5 / 9;
	}
	&.large {
		aspect-ratio: 11.5 / 9;
		@media screen and (min-width: 1000px) {
			aspect-ratio: 7.5 / 11.5;
		}
	}
}

.arrow-svg {
	filter: invert(15%) sepia(8%) saturate(4909%) hue-rotate(190deg) brightness(94%) contrast(97%);
}

.page-wave {
	filter: invert(90%) sepia(1%) saturate(2764%) hue-rotate(195deg) brightness(110%) contrast(94%);
}
